body {
    font-family: "Open Sans", sans-serif;
    background-color: #200800;
    margin-top: 0;
    padding-bottom: 0;
}

#header h1, h3 {
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
    padding-left: 100px;
}

h1 {
    font-size: 60px;
    font-weight: 800;
}

#heading {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: whitesmoke;
    font-weight: 200;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}


header h2 {
    color: #cec8ff;
}

.card-title h3 {
color: black;
margin-left: 0px;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

div #id {
    margin-top: 2rem;
}

.circle-icon {
    background: #CE862B;
    padding:25px;
    border-radius: 50%;
}
 
.img-circle {
   border-color: #cec8ff;
   border-width: 5px;
}

#main {
    margin-top: 100px;
    margin-left: 100px;
}
.heading {
    font-size: 70px;
    font-weight: 700px;
    font-style: inherit;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: whitesmoke;
    padding-left: 300px;
    padding-bottom: 50px;
}
  
.card-header {
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: whitesmoke;
    font-weight: 200;
    background-color: #CE862B;
    width: 800px;
}

/* link color*/
a:link {
    color: whitesmoke;
  }

 /* active link */
 a:active {
     background-color: grey;
 }

  /* visited link */
a:visited {
    color: whitesmoke;
  }
  
  /* mouse over link */
  a:hover {
    color: #ffb400;
  }
  
  .navbar-right {
    margin-right: 0px; 
}

.home {
    margin-top: 140px;
}

#nav {
    /*margin-top: 0px;
    text-align: right;
    padding-right: 50px;*/
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

#content {
   /* background-color: white; */
    margin-left: 50px;
    margin-right: 50px;
}
/*
#leftCol {
    background-color: black;
}

#rtCol {
    background-color: black;
} */

#front, p {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: whitesmoke;
    padding-left: 100px;
    padding-top: 30px;
}